/***************
    UTILITIES
***************/

.doneTask {
    text-decoration: line-through;
    background-color: beige;
    button i {
        text-decoration: none;
    }
}

/***************
    STRUCTURE
***************/

.taskContainer ul {
    list-style-type: none;
    text-align: left;
    background-color: #f6f7f8;
    padding: 25px;
    border-radius: 10px;
    
    li { 
        border-bottom: 1px solid;
        display: flex;
        justify-content: space-between;
        align-items: center;
            
        span {
            padding: 5px 10px;
            display: inline-block;
            width: 95%;
            cursor: pointer;
            }
        button {
            height: 20px;
            width: 20px;
            border-radius: 50%;
            border: none;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
